<div>


<!-- 

    <div *ngFor="let card of cards;">
        {{card.cardValue}}
        <img src="{{card.cardName}}">
    </div> -->

    <div class="row">
        <div class="col">
            <app-nav-bar></app-nav-bar>
        </div>
    </div>


    <div class="row">
        <div class="col">
            {{deckCount}}
        </div>
    </div>


    <div class="row mb-5">
        <div *ngFor="let card of dealerCards; let i = index;" class="col d-flex justify-content-center">
            <img src="{{card.cardName}}" [ngClass]="{'right-transition' : i === dealerCards.length -1}">
        </div>

        <div class="col-2 ">
            <div class="row">
                <div class="col">
                    <button class="btn btn-danger mt-5" (click)="addDealerCard()">
                        Hit
                    </button>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col">
                    <div *ngIf="showDealerCardCount === true">
                        {{calculateCardCount(dealerCards)}}
                    </div>

                    <button class="btn btn-danger mt-2" (click)="toggleDealerCardCount()">
                        Show dealer card count
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-5">
        <div *ngFor="let card of playerCards; let i = index;" class="col d-flex justify-content-center mt-5">
            <img src="{{card.cardName}}" [ngClass]="{'right-transition' : i === playerCards.length -1}">
        </div>

        <div class="col-2 align-self-end">
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary mt-5" (click)="addDealerCard()">
                        Stay
                    </button>
                </div>
                
                <div class="col">
                    <button class="btn btn-primary mt-5" (click)="addPlayerCard()">
                        Hit
                    </button>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col">
                    <div *ngIf="showPlayerCardCount === true">
                        {{calculateCardCount(playerCards)}}
                    </div>

                    <button class="btn btn-primary mt-2" (click)="togglePlayerCardCount()">
                        Show player card count
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>